---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const notes = await getCollection("posts");
---

<BaseLayout
  meta={{
    title: "Notes",
    description: "A collection of notes from the mind of Zach Harris.",
  }}
>
  <p>Notes</p>

  <ul>
    {notes.map((note) => <a href={`/notes/${note.slug}`}>{note.data.title}</a>)}
  </ul>
</BaseLayout>
