---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  meta={{
    title: "Notes",
    description: "A collection of notes from the mind of Zach Harris.",
  }}
>
  <p>A list will go here...</p>
</BaseLayout>
