---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogPosts from "@/components/BlogPosts.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const date = new Intl.DateTimeFormat("en-US", {
  dateStyle: "long",
}).format(new Date(entry.data.pubDate));
---

<BaseLayout
  pageTitle={entry.data.title}
  description={entry.data.description}
  hideTitle
>
  <BlogPosts class="hidden lg:block" />
  <main class="p-4 flex flex-col gap-4">
    <section class="flex flex-col gap-0">
      <h1 class="text-4xl font-bold">{entry.data.title}</h1>
      <span class="text-muted-foreground">{date}</span>
    </section>

    <section>
      <Content />
    </section>
  </main>
</BaseLayout>
