---
import BaseLayout from '../../layouts/BaseLayout.astro';
import getPostData from '../../utils/getPostData';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../data/posts/*.md');
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate } = frontmatter;
const { slug, readingTime } = getPostData(Astro.props.post);
---

<BaseLayout pageTitle={title} hideTitle>
  <header>
    <h1>{title}</h1>
    <p>{readingTime}</p>
  </header>

  <div>
    <Content />
  </div>
</BaseLayout>
