@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/Geist/GeistMonoNerdFont-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/Geist/GeistMonoNerdFont-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/Geist/GeistMonoNerdFont-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

