@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --primary: 0 0 0;
    --primary-foreground: 255 255 255;
    --primary-background: 0 0 0;

    --background: 255 255 255;
  }

  * {
    min-width: 0;
  }
}
