---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<BaseLayout
  pageTitle="zachbharris"
  description="Full Stack Engineer from St. Louis, blending expertise in JavaScript, React, and Node.js with a love for custom mechanical keyboards, coffee brewing, and family time with pets."
>
  {
    posts.map((p) => {
      return <a href={`/blog/${p.slug}`}>{p.data.title}</a>;
    })
  }
</BaseLayout>
