---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  meta={{
    title: "Zach Harris",
    description: "Dev. Keyboards. Coffee.",
  }}
>
  <p class="tracking-wide text-2xl">
    Hi, my name is Zach Harris! I'm a Software Engineer with a focus on Frontend
    Development. Currently, I am building the Platform at Moment.
  </p>
</BaseLayout>
