---
import BaseLayout from "@/layouts/BaseLayout.astro";
import HireMe from "@/components/HireMe.astro";
import BlogPosts from "@/components/BlogPosts.astro";
---

<BaseLayout pageTitle="zachbharris">
  <section class="flex flex-col gap-4">
    <h1 class="font-bold text-2xl text-neutral-100"># Hello World</h1>
    <p class="text-balance">
      I'm Zach Harris, a <span class="text-neutral-100 font-medium"
        >software engineer</span
      > by day, <span class="text-neutral-100 font-medium"
        >keyboard builder</span
      > by night, and brewing fresh coffee all the time. Proud dad to a dog and
      cat who don't care about my React skills.
    </p>
  </section>

  <HireMe />

  <section>
    <h1 class="font-bold text-2xl text-neutral-100"># Projects</h1>
  </section>

  <section>
    <h1 class="font-bold text-2xl text-neutral-100"># Keyboards</h1>
  </section>

  <section>
    <h1 class="font-bold text-2xl text-neutral-100"># Blog</h1>
    <BlogPosts />
  </section>

  <!--TODO: Add Social Media Links -->
</BaseLayout>
