---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  meta={{
    title: "Zach Harris",
    description: "Dev. Keyboards. Coffee.",
  }}
>
  <p class="tracking-wide text-2xl leading-relaxed">
    Hey, I'm Zach Harris! I'm a Software Engineer who loves working on Frontend
    Development. Right now, I'm helping build Moment on the Platform team, where
    I focus on creating smooth, user-friendly experiences.
  </p>
</BaseLayout>
