---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto px-4 py-6 mx-auto text-center flex flex-row gap-8">
  <div class="flex flex-row gap-2 text-neutral-500">
    <span>&copy; {currentYear} Zach Harris.</span>
    <span>All Rights Reserved.</span>
  </div>
</footer>
