---
const currentYear = new Date().getFullYear();
---

<footer class="absolute right-4 bottom-4 px-2 py-1 bg-muted/30 rounded-lg backdrop-blur-sm">
  <span class="text-sm font-medium">&copy; {currentYear} Zach Harris</span>
</footer>
