---
---

<div
  id="gradient"
  class="absolute translate-x-1/2- -z-10 top-[-400px] left-0 right-0 mx-auto w-[1200px] h-[800px] [background:radial-gradient(50%_50%_at_50%_50%,rgb(23,23,23)_14.58%,rgb(10,10,10)_100%)]"
>
</div>

