---
const { href, external = false } = Astro.props;
---

<a
  href={href}
  class="text-neutral-300 hover:text-neutral-100 transition-colors"
  target={external ? '_blank' : null}
  rel={external ? 'noopener noreferrer' : null}
>
  <slot />
</a>
