---
const links = [
  //{ href: "/work", label: "Work" },
  { href: "/notes", label: "Notes" },
  //{ href: "/about", label: "About" },
];
---

<nav
  class="mx-auto flex w-full max-w-screen-sm flex-row items-center gap-4 py-8"
>
  <a href="/" class="flex flex-row items-center">
    <span class="mr-1" aria-hidden="true" class="inline-block font-bold">></span
    >
    <span class="overflow-hidden whitespace-nowrap font-medium text-foreground">
      zachbharris</span
    >
    <span
      class="ml-1 h-5 w-2 animate-blink-cursor bg-foreground motion-reduce:hidden"
    ></span>
  </a>

  <ul class="ml-auto flex flex-row gap-2">
    {
      links.map((link) => (
        <li>
          <a
            href={link.href}
            class="block font-medium lowercase text-muted-foreground transition-colors duration-100 ease-in-out hover:text-foreground focus:text-foreground"
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
