---
const { post } = Astro.props;
const href = `/blog/${post.file.split("/").pop().split(".").shift()}`;

const { title } = post.frontmatter;
---

<li class="border border-neutral-700">
  <a href={href}>
    {title}
  </a>
</li>
