---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="flex flex-row items-center gap-2 text-muted-foreground transition-colors hover:text-foreground"
>
  <slot />
</a>
