.hero {
  display: grid;
  grid-template-areas: "tag" "title" "desc" "link";
  background: $black;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
  .tag {
    grid-area: tag;
    font-size: 1rem;
  }
  .title {
    grid-area: title;
    font-size: 3rem;
  }
  .desc {
    grid-area: desc;
    font-style: normal;
    margin: 1rem 0;
    max-width: 320px;
    @media screen and (min-width: 420px) {
      margin: 1rem 0 3rem;
    }
  }
  .link {
    grid-area: link;
    font-weight: bold;
  }
}