nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.logo {
  a {
    font-size: 2rem;
    color: $purple;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }
}

.contact {
  border: 2px solid $purple;
  border-radius: 5px;
  transform: skewX(-10deg);
  overflow: hidden;
  transition: all ease-in-out 0.15s;
  &:hover, &:focus {
    background-color: $purple;
  }
  a {
    display: inline-block;
    color: $purple;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    transform: skewX(10deg);
    &:hover {
      color: white;
    }
  }
}