html, body {
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

@import 'colors';
@import 'typography';
@import 'buttons';
@import 'animations';
@import 'header';
@import 'footer';
@import 'hero';
@import 'home';

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}