---
interface Props {
  meta: {
    title?: string;
    description: string;
  };
}

import "@/styles/globals.css";
import Navbar from "@/components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";

const { meta } = Astro.props;
const { title = "Zach Harris" } = meta;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-background">
    <Navbar />
    <slot />
  </body>
</html>
